[Unit]
 Description=Automatic Cargo Sweep

[Service]
 Type=simple
 ExecStart=/bin/cargo sweep -r --installed
 TimeoutStopSec=600
 KillMode=process
 KillSignal=SIGINT

[Install]
 WantedBy=default.target
