[Unit]
Description=Automatic Cargo Sweep

[Service]
Type=oneshot
ExecStart=%h/.cargo/bin/cargo-sweep sweep -r --installed %h/tmp/

[Install]
WantedBy=default.target
