[Unit]
 Description=Automatic Update when booted up after 5 minutes then check the system for updates every day

[Timer]
 OnBootSec=5min
 OnCalendar=daily
 Unit=rustup-update.service

[Install]
 WantedBy=multi-user.target
